###########################################################################
# Copyright 2019 IBM Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# imitations under the License.
###########################################################################

###########################################################################
#
#  !!! Note below for the url-pattern:
#  The path after ${builtin.openshift-admin-console-url} and before k8s does not use / to avoid double //
#  because openshift admin console url ends with / already
#
###########################################################################

apiVersion: v1
kind: ConfigMap
metadata:
  name: kappnav.actions.service
  namespace: {{ .Release.Namespace }}
data:
  url-actions: |
    [
      { 
        "name":"detail", 
        "text":"View Detail",
        "text.nls":"action.url.service.detail.text", 
        "description":"View Service detail", 
        "description.nls":"action.url.service.detail.desc", 
{{ if eq .Values.env.kubeEnv "minikube" }}
        "url-pattern":"${builtin.openshift-console-url}/service/${resource.$.metadata.namespace}/${resource.$.metadata.name}?namespace=${resource.$.metadata.namespace}", 
{{ else if eq .Values.env.kubeEnv "minishift" }}
        "url-pattern":"${builtin.openshift-console-url}project/${resource.$.metadata.namespace}/browse/services/${resource.$.metadata.name}",
{{ else if or (eq .Values.env.kubeEnv "okd") (eq .Values.env.kubeEnv "ocp") }} 
        "url-pattern":"${builtin.openshift-admin-console-url}k8s/ns/${resource.$.metadata.namespace}/services/${resource.$.metadata.name}",
{{ end }}
        "open-window": "current", 
        "menu-item": "false" 
      }
    ]